<h1><%= title%></h1>
<div></div>
<a href="<%= link%>">Add New Message</a>
  <% messages.forEach(message =>{%>
    <div><%= message.user%></div>
    <div><%= message.text%></div>
    <div><%= message.added%></div>  
  <%})%>
    